{# templates/members/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Membres{% endblock %}

{% block body %}
    <h1>Membres du ForumTech</h1>
    <p>Cette page affichera la liste de tous les membres.</p>
{% endblock %}
