{% extends 'base.html.twig' %}

{% block title %}ForumTech - Communauté Moderne{% endblock %}

{% block body %}

    <main class="main">
        <div class="container">

            {% include '/include/searchbar.html.twig'%}

            {% include '/include/headbar.html.twig' %}

            {% include '/include/recenttopics.html.twig' %}

            {% include '/include/showcategorie.html.twig' %}

        </div>
    </main>
{% endblock %}
