{% extends 'base.html.twig' %}

{% block title %}ForumTech - Communauté Moderne{% endblock %}

{% block body %}

    <main class="main">
        <div class="container">

            {% include '/partials/searchbar.html.Twig'%}

            {% include '/partials/headbar.html.Twig' %}

            {% include '/partials/listsposts.html.Twig' %}





        </div>
    </main>


{% endblock %}

