{% extends 'base.html.twig' %}

{% block title %}Edit Posts{% endblock %}

{% block body %}
    <h1>Edit Posts</h1>

    {{ include('posts/_form.html.Twig', {
        'form': form,
        'button_label': 'Update',
        'form_action': path('app_posts_edit', {'id': post.id})
    }) }}

    <a href="{{ path('app_posts_index') }}">back to list</a>


{% endblock %}
